.app-logo {
    height: 80px;
}

.app-header {
    height: 90px;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.app-body {
    padding: 20px;
}

.app-title {
    font-size: 1.5em;
}

.app-intro {
    font-size: large;
}

.fetch-data,
.redux-data {
    padding: 10px;
    background-color: #f7f7f7;
}

.button {
    background-color: white;
    border-radius: 3px;
    margin-top: 15px;
    padding: 5px;
}
